<div class="page-header">
  <h3>Categories</h3>
</div>
<% categories.each do |category| %>
  <h4><a href="/editor/categories/<%= category.id %>"><%= category.name %></a></h4>
<% end %>
<br>
<br>
<a href="/editor/categories/new" class="btn btn-default">New Category</a></li>
