<div class="page-header">
  <h3>Edit Article</h3>
</div>

<form role="form" accept-charset="UTF-8" action="/editor/articles/<%= article[:id] %>" method="post">
  <input type="hidden" name="_method" value="put" />
  
  <div class="form-group">
    <label for="article_title">Title</label>
    <input type="text" class="form-control" id="article_title" name="article[title]" value="<%= article[:title] %>">
  </div>
  
  <div class="form-group">
    <label for="article_author">Author</label>
    <input type="text" class="form-control" id="article_author" name="article[author]" value="<%= article[:author] %>">
  </div>
  
  <div class="form-group">
    <label for="article_content">Content</label>
    <textarea id="article_content" class="form-control" name="article[content]" rows="20" cols="50"><%= article[:content] %></textarea> 
  </div>
  
  <button type="submit" class="btn btn-default">Save</button>
</form>