<div class="page-header">
  <a href="/editor/articles/<%= article[:id] %>/edit" class="btn btn-default pull-right">Edit</a>
  <h3><%= article[:title] %> <small><%= article[:author] %></small></li></h3>
</div>

<div>
  <%= content %>
</div>