<div class="page-header">
  <h2>The Tangent</h2>
</div>

<% categories.each do |category| %>
  <h3><%= category[:name] %></h3>
  <% category[:articles].each do |article| %>
      <h4>
        <a href="#">
          <%= article[:title] %>
        </a> <small><%= article[:author] %></small></h4>
  <% end %>
<% end %>