<!DOCTYPE HTML>
<html>
  <head>
    <title>The Tangent</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>

  <body>
    <div class="container" style="padding-bottom: 24px;">
      <%= yield %>
    </div>  
  </body>
</html>