/* Default element styles*/

body {
  padding-bottom: 24px;
}

/* Nav bar */

.logo {
  color: black;
}

.categories {
  background-color: #d3d3d3;
  margin-bottom: 20px;
}

/* Footer */

.footer {
  margin-top: 20px;
  border-top: 1px solid black;
}

.footer h5 {
  color: black;
}

.categories .category {
  color: black;
}

/* Manifesto */

.manifesto {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 300;
}

/* Article tile */

.tile .title {
  color: black;
}

.tile .summary {
  text-align: justify;
}

/* Article show */

.article .content {
  text-align: justify;
}

.comments {
  margin-top: 40px
}

/* Responsive */

@media (min-width: 768px) {
  .manifesto {
    text-align: justify;
  }
}
