body {
  padding-bottom: 24px;
}

.manifesto {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 300;
}

.logo {
  color: black;
}

.categories {
  margin-bottom: 30px;
}

.tile .title {
  color: black;
}

.article .content {
  text-align: justify;
}

.comments {
  margin-top: 40px
}

@media (min-width: 768px) {
  .manifesto {
    text-align: justify;
  }
}
