/* Default element styles*/

body {
  padding-bottom: 24px;
}

/* Nav bar */

.logo {
  color: black;
}

.categories {
  margin-bottom: 30px;
}

/* Manifesto */

.manifesto {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 300;
}

/* Article tile */

.tile .title {
  color: black;
}

.tile .summary {
  text-align: justify;
}

/* Article show */

.article .content {
  text-align: justify;
}

.comments {
  margin-top: 40px
}

/* Responsive */

@media (min-width: 768px) {
  .manifesto {
    text-align: justify;
  }
}
