<% if published %>
  <div class="btn-group">
    <form accept-charset="UTF-8" action="/editor/articles/<%= id %>/publishing" method="post">
      <input type="hidden" name="_method" value="delete" />
      <button type="submit" class="btn btn-danger">Unpublish</button>
    </form>
  </div>
<% else%>
  <div class="btn-group">
    <form accept-charset="UTF-8" action="/editor/articles/<%= id %>/publishing" method="post">
      <button type="submit" class="btn btn-success">Publish</button>
    </form>
  </div>
<% end %>

<div class="btn-group">
  <a href="/editor/articles/<%= id %>/edit" class="btn btn-default pull-right">Edit</a>
</div>