<% articles.each_slice(3).each do |row| %>
  <div class="row">
    <% row.each do |article| %>
      <div class="col-lg-4">
        <div class="tile">
          <h4>
            <a href="/articles/<%= article.id %>" class="title">
              <%= article.title %>
            </a>
          </h4>
          <div>
            <%= article.summary %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>