<div class="page-header">
  <h3>Articles</h3>
</div>

<%= erb :editor_articles_list, :locals => { :articles => articles, :path => "/editor/articles" } %>

<br>
<br>
<a href="/editor/articles/new" class="btn btn-default">New Article</a></li>
