<div class="page-header">
  <h3><%= category.name %>
</div>

<%= erb :editor_articles_list, :locals => { :articles => articles, :published => published, :path => "/editor/categories/#{category.id}" } %>

<br>
<br>
<a href="/editor/articles/new" class="btn btn-default">New Article</a></li>
