<div class="page-header">
  <h3><%= category.name %>
</div>

<% articles.each do |article| %>
    <h4>
      <a href="/editor/articles/<%= article.id %>">
        <%= article.title %>
      </a> <small><%= article.author %></small></h4>
<% end %>
