<div class="page-header">
  <h3>Articles</h3>
</div>

<a href="/editor/articles?published=false">Unpublished</a>
<a href="/editor/articles?published=true">Published</a>

<% articles.each do |article| %>
    <h4>
      <a href="/editor/articles/<%= article.id %>">
        <%= article.title %>
      </a> <small><%= article.author %></small></h4>
<% end %>

<br>
<br>
<a href="/editor/articles/new" class="btn btn-default">New Article</a></li>
