<!DOCTYPE HTML>
<html>
  <head>
    <title>The Tangent</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h1><a href="/" class="logo">The Tangent</a></h1>
        </div>
      </div>

      <div class="row categories">
        <% categories.each do |category| %>
          <div class="col-sm-2 category">
              <h5>
                <a href="/categories/<%= category.id %>">
                  <%= category.name %>
                </a>
              </h5>
          </div>
        <% end %>
      </div>

      <%= yield %>

      <div class="row">
        <div class="footer">
          <div class="footer-links">
            <div class="col-sm-1">
              <h5><a href="/about">About</a></h5>
            </div>
            <div class="col-sm-1">
              <h5><a href="mailto:lisasuzanneparr@gmail.com">Contact</a></h5>
            </div>
            <div class="col-sm-1 mobile-only">
              <h5><a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Licensing</a></h5>
            </div>
          </div>
          <div class="pull-right">
            <h5>All work licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>.</h5>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
