<!DOCTYPE HTML>
<html>
  <head>
    <title>The Tangent</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <a href="/"><h2 class="logo">The Tangent</h2></a>
        </div>
      </div>

      <div class="row categories">
        <% categories.take(6).each do |category| %>
          <div class="col-sm-2">
            <a href="/categories/<%= category.id %>">
              <h5 class="category"><%= category.name %></h5>
            </a>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
