<!DOCTYPE HTML>
<html>
  <head>
    <title>The Tangent</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <a href="/"><h2 class="logo">The Tangent</h2></a>
        </div>
      </div>

      <div class="row categories">
        <% categories.each do |category| %>
          <div class="col-sm-2">
            <a href="/categories/<%= category.id %>">
              <h5 class="category"><%= category.name %></h5>
            </a>
          </div>
        <% end %>
      </div>

      <%= yield %>

      <div class="row">
        <div class="footer">
          <div class="col-sm-1">
            <a href="#"><h5>About</h5></a>
          </div>
          <div class="col-sm-1">
            <a href="#"><h5>Contact</h5></a>
          </div>
          <div class="pull-right">
            <h5>All work licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>.</h5>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
