<!DOCTYPE HTML>
<html>
  <head>
    <title>The Tangent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="manifesto col-lg-offset-2 col-lg-8">
          <%= erb :description %>
        </div>
      </div>
    </div>
  </body>
</html>
