<!DOCTYPE HTML>
<html>
  <head>
    <title>The Tangent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="manifesto col-lg-offset-2 col-lg-8">
          <p>Okay, so here’s the plan.</p>

          <p>We’re going to start a newspaper.</p>

          <p>Who’s ‘we’? Anyone! You’re not a professional journalist? Good. We want unprofessional journalists. We don’t want tired hacks up all hours desperately trying to fill word counts to earn their crust. No. We want tired people trudging in from their day jobs, turning on their laptops and desperately trying to fill word counts for the sheer love of it. What we’re saying is we can’t afford to pay you.</p>

          <p>What’s the medium? Online. We’re a financially limited organisation. Or at least, we will be once we’re organised. Not in the sense of limited liability, there’ll be plenty of liability. Also, trees.</p>

          <p>Why? Because we’re bored of newspapers but we’re not bored of news. We’re bored of the tribalism of a popular press that finds unity in prejudice and avoids ambiguity because it believes that a strong voice is a certain one. As a publication we want to to be united by our curiosity, not by assumptions we don’t question. We want a newspaper that is not of the establishment. We feel unrepresented, but we don’t want to complain about being unrepresented and nor do we want to go around representing anyone else into existence. We want to represent ourselves, in the hope that the more we do that, and the more honestly we do that, the more people will want to.</p>

          <p>Jokes? We want a newspaper that is written with warmth and humour. This doesn’t mean that we have to be cracking jokes all the time, but we want to dissolve the division between serious journalism and light-hearted filler. We think that one of the most important functions of humour is to highlight absurdity. It’s a way of making sense of the world that starts by pointing out how little sense the world makes. Or pointing out the funny and surprising kind of sense the world makes.</p>

          <p>Stance? We want a newspaper that has more questions than answers. We want something that makes people think, not something that confirms readers prejudices and reiterates opinions they already knew they had. We want to challenge each other and we want to challenge ourselves.</p>

          <p>Scope? Broad and ever expanding!</p>

          <p>Name? The Tangent. Does what it says on the tin. Applicable tagline pending.</p>

          <p>Get involved <a href="http://www.facebook.com/groups/244634149041696">here</a>.</p>
        </div>
      </div>
    </div>
  </body>
</html>
