<div class="people">
  <h2>People</h2>

  <h3>Lisa Parr</h3>
  <p>
    XOXO gluten-free Blue Bottle, keffiyeh gastropub you probably haven't heard of them Portland pickled pork belly tofu hashtag Godard. Twee Marfa flexitarian vinyl, mumblecore fingerstache disrupt mixtape salvia gastropub 90's drinking vinegar Schlitz food truck. Photo booth small batch brunch Intelligentsia Bushwick leggings ugh swag, pop-up blog. Blue Bottle locavore umami butcher Bushwick, wolf irony mustache cred Etsy tousled. Fingerstache fanny pack stumptown, tattooed Pinterest butcher seitan fap cornhole flexitarian Odd Future Truffaut Bushwick ethical. Ugh try-hard gluten-free, PBR swag umami PBR&B distillery cornhole four loko Echo Park meggings put a bird on it jean shorts. Cosby sweater chambray asymmetrical hashtag ethnic gluten-free.
  </p>

  <h3>Callum Stott</h3>
  <p>
    Thundercats trust fund PBR pour-over art party DIY. Hella Thundercats keytar semiotics photo booth, PBR blog ennui irony before they sold out. Echo Park authentic Banksy shabby chic tattooed. Occupy cred Wes Anderson Portland, letterpress street art flannel deep v American Apparel keffiyeh organic. Keffiyeh gastropub Etsy actually trust fund, shabby chic 3 wolf moon swag farm-to-table master cleanse. Viral bespoke Neutra yr disrupt, Cosby sweater iPhone ugh meh. Banjo gentrify paleo put a bird on it vegan Bushwick.
  </p>
<div>
